apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cluster-manager-server.fullname" . }}
  labels:
    {{- include "cluster-manager-server.labels" . | nindent 4 }}
data:
  config.yaml: |
    httpPort: {{ .Values.httpPort }}
    grpcPort: {{ .Values.grpcPort }}
    workerServiceGrpcPort: {{ .Values.workerServiceGrpcPort }}
    internalGrpcPort: {{ .Values.internalGrpcPort }}
    database:
      host: {{ .Values.global.database.host }}
      port: {{ .Values.global.database.port }}
      database: {{ .Values.database.database }}
      username: {{ .Values.global.database.username }}
      passwordEnvName: DB_PASSWORD
      ssl:
        mode: {{ .Values.global.database.ssl.mode }}
        rootCert: {{ .Values.global.database.ssl.rootCert }}
      createDatabase: {{ .Values.global.database.createDatabase }}
      originalDatabase: {{ .Values.global.database.originalDatabase }}
    auth:
      enable: {{ .Values.global.auth.enable }}
      rbacInternalServerAddr: {{ .Values.global.auth.rbacInternalServerAddr }}
    defaultCluster:
      name: {{ .Values.defaultCluster.name }}
      registrationKey: {{ .Values.defaultCluster.registrationKey}}
      tenantId: {{ .Values.defaultCluster.tenantId }}
    usageSender:
      {{- toYaml .Values.global.usageSender | nindent 6 }}
